*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root{
    --bg-color:#2a2e2b;
    --main-color:#e0e80b;
    --2nd-main-color:#3ad6d7;
    --text-color:#fefdff;
    --hover-color:#1f5450;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
    
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 20px 3%;
    transition: .3s;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--hover-color);
    transition: .3s;
    border-radius: 10px;
}
section{
    padding: 120px 14%;
}
span{
    color: var(--main-color);
}
.home{
    position: relative;
    height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    max-width: 120%;
    width: 800px;
    height: auto;
}
.home-text h5{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}
.home-text h1{
    color: var(--2nd-main-color);
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}
.home-text h6{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.home-text p{
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}
.btn{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 4px 4px  var(--2nd-main-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all ease 0.35s;
}
.btn:hover{
    background: var(--2nd-main-color);
    color: var(--text-color);
    box-shadow: 4px 4px  var(--main-color);
}
@media only screen and (max-width: 480px) {
    header {
      display: none;
    }
    .navbar {
      display: none;
    }
    .btn {
      display: none;
    }
    .home {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      text-align: center;
      padding: 0 0.5rem;
      align-items: flex-start; /* Align items to the top */
    }
  
    .home-img {
      grid-column: 1 / -1; /* Span the entire column */
      order: -1; /* Move the image before the text */
    }
  
    .home-text {
      grid-column: 1 / -1; /* Span the entire column */
    }
  
    .home-img img {
      max-width: 100%;
      width: auto;
    }
  }

.profile{
    display: grid;
    height: 86vh;
    width: 100%;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}
.profile-img img{
    max-width: 100%;
    width: 580px;
    height: auto;
}
.profile-text h3{
    color:var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 30px;
}
.profile-text h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: var(--h2-font);
    line-height: 1.2;
    max-width: 470px;
    margin-bottom: 2rem;
}
.profile-text p{
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}
.languages{
    margin-bottom: 1.5rem;
}
.others{
    margin-bottom: 1.5rem;
}
.profile-text .languages a{
    color: var(--2nd-main-color);
    margin-right: 20px;
    word-spacing: 5px;
}
.languages span{
    color: var(--text-color);
    font-size: 2.7rem;
    font-weight: 600;
    margin-right: 5px;
}
.others span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 10px;
}
.main-btn .btn{
    margin-right: 20px;
}
.profile-text h6{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
@media only screen and (max-width: 480px) {
    .profile {
      grid-template-columns: 1fr; /* Change to a single column layout */
      grid-gap: 2rem; /* Adjust the grid gap */
      padding: 0 1rem; /* Adjust the padding */
    }
  
    .profile-img {
      grid-column: 1 / -1; /* Span the entire column */
    }
  
    .profile-img img {
      max-width: 100%;
      width: auto;
      margin-bottom: 1.5rem;
    }
  
    .profile-text h2 {
      font-size: 24px; /* Adjust the font size */
      margin-bottom: 1.5rem; /* Adjust the margin */
    }
  
    .profile-text p {
      max-width: 100%;
    }
  
    .languages,
    .others {
      margin-bottom: 1rem; /* Adjust the margin */
    }
  
    .profile-text .languages a {
      margin-right: 10px; /* Adjust the margin */
    }
  
    .languages span {
      font-size: 2rem; /* Adjust the font size */
    }
  
    .others span {
      font-size: 1.4rem; /* Adjust the font size */
      margin-bottom: 5px; /* Adjust the margin */
    }
  
    .main-btn .btn {
      margin-right: 10px; /* Adjust the margin */
    }
  
    .profile-text h6 {
      font-size: 16px; /* Adjust the font size */
    }
  }
  
.center{
    text-align: center;
    
}
.center h3{
    color: var(--2nd-main-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 1.5rem;
}
.skill-box {
  width: 100%; /* Full width */
  height: 30px;
  background-color: var(--text-color); /* Grey background */
}
.skills p{
    text-align: left; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: var(--text-color); /* White text color */
    font-size: 18px;
  }
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: var(--text-color); /* White text color */
}

.csharp:hover {width: 75%;  height: 30px; background-color: var(--main-color);} /* Green */
.java:hover{width: 70%;  height: 30px; background-color:var(--2nd-main-color);} /* Blue */
.python:hover{width: 70%;  height: 30px; background-color: var(--main-color);} /* Red */
.mysql:hover{width: 60%;  height: 30px; background-color: var(--2nd-main-color);} /* Dark Grey */
.html:hover {width: 60%;  height: 30px; background-color: var(--main-color);} /* Green */
.css:hover{width: 60%;  height: 30px; background-color:var(--2nd-main-color);} /* Blue */
.js:hover{width: 40%;  height: 30px; background-color: var(--main-color);} /* Red */
.php:hover{width: 40%;  height: 30px; background-color: var(--2nd-main-color);} /* Dark Grey */
.c:hover{width: 55%;  height: 30px; background-color: var(--main-color);} /* Red */
@media only screen and (max-width: 480px) {
    .center {
      margin-top: 30rem;
    }
  
    .center h3 {
      font-size: 24px; /* Adjust the font size */
    }
  
    .skill-content {
      display: block; /* Change to a block layout */
      margin-top: 1rem; /* Adjust the margin */
    }
  
    .skill-box,
    .skills p {
      text-align: center; /* Center-align text */
    }
  
    .skills p {
      padding: 5px 0; /* Adjust the padding */
    }
  
    .skill-content .skills {
      margin-top: 1rem; /* Add top margin */
    }
  
    .skill-content .skills:first-child {
      margin-top: 0; /* Remove top margin from the first skills section */
    }
  
    .skill-box:hover {
      width: inherit; /* Inherit the width from the parent element */
    }
  }
  
.row{
    background: #353a36;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}
.row i{
    color: var(--2nd-main-color);
    font-size: 3rem;
    margin-bottom: 10px;
}
.row h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--text-color);
}
.row ul li{
    font-size: 13px;
    color: var(--text-color);
    line-height: 30px;
}
.project-center h3{
    color: var(--2nd-main-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,auto));
    align-items: center;
    
}
.projects h3{
    text-align: center;
}
.projects img{
    max-width: 300%;
    width: 350px;
    height: auto;
}
.projects .row{
    background: transparent;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}
.card{
    height: 300px;
    width: 250px;
    position: relative;
    transition: all .7s linear;
    transform-style: preserve-3d;
}
.front,
.back{
    max-width: 100%;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 10px;
    position: absolute;
}
.front{
    background: #2a2e2b;
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    background: #2a2e2b;
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}
.container{
    perspective: 1000px;
}
@media only screen and (max-width: 480px) {
    .project-center h3 {
      font-size: 24px; /* Adjust the font size */
    }
  
    .projects-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
      align-items: center;
      justify-content: center; /* Center align items */
    }
  
    .projects img {
      max-width: 100%;
      width: 250px;
      height: auto;
    }
  
    .card {
      height: 300px;
      width: 300px; /* Adjust the width */
      font-size: 1.5em; /* Adjust the font size */
    }
  
    .front,
    .back {
      width: 100%;
      font-size: 2em; /* Adjust the font size */
    }
  
    .project-center br {
      display: none;
    }
  
  }
  

.hobbies{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
.hobbies-center h3{
    margin-top: 40px;
    color: var(--2nd-main-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}
.hobbies-row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
}
.hobbies-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.hobbies-col img {
    width: 100%;
    height: auto;
    display: block;
  }
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(58, 214, 215, 0.5);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: var(--main-color);
    text-shadow: var(--bg-color);
    font-size: 35px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
@media only screen and (max-width: 480px) {
    .hobbies {
      padding-top: 50px; /* Adjust the top padding */
    }
  
    .hobbies-center h3 {
      font-size: 24px; /* Adjust the font size */
    }
  
    .hobbies-row {
      grid-template-columns: repeat(auto-fit, minmax(150px, auto)); /* Adjust the column size */
      grid-gap: 10px; /* Add gap between grid items */
    }
  
    .hobbies-col {
      flex-basis: 48%; /* Adjust the flex basis */
      margin-bottom: 20px; /* Adjust the bottom margin */
    }
  
    .layer h3 {
      font-size: 25px; /* Adjust the font size */
    }
  }
  
